.modal {
  width: 400px;
  background-color: white;
  padding: 15px;
  display: none;
  border-radius: 5px;
}
.modal .modal_close {
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.text-center {
  text-align: center;
}
